.env
s3_credentials
/sqllite_db
/data
artifacts
__pycache__
/code_archive
/app/airflow/logs/*
/app/airflow/data/*
/app/airflow/airflow.db
/app/airflow/airflow-webserver.pid
/app/airflow/standalone_admin_password.txt
docker-compose.yaml