[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"

[packages]
fastapi = "*"
uvicorn = "*"
pandas = "*"
requests = "*"
beautifulsoup4 = "*"
pyspark = "*"
wordfreq = "*"
sqlalchemy = "*"
python-dotenv = "*"
boto3 = "*"
streamlit = "*"
scikit-learn = "*"
matplotlib = "*"
pymongo = "*"

[requires]
python_version = "3.11"
